/* PHASE 4: Footer */
.footer {
  background: white;
  border: 1px solid lightgrey;
  border-top: 0px;
  display: flex;
  justify-content: space-between;
  color: #aaa;
  width: 900px;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
}

.footer-list, .copy-right{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 30px 10px;
  bor
}

.footer-list li {
  display: flex;
  padding: 0 5px;
}

.footer-list a:hover {
  color: black;
}
